.Links {
  padding-bottom: 0 !important;
  padding-top: 3rem !important;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.4rem;
  grid-row-gap: 1.4rem;
}

.Button {
  grid-column: auto;
  height: 4.5rem;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}


@media (min-width: 550px) {
  .Links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .Links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
