.Root {
  display: flex;
  min-height: 100vh;
}

.Container {
  padding: 1rem;
}

.Toast {
  padding: 1rem 1.2rem;
  font-family: Raleway, -apple-system, Roboto, sans-serif;
  color: #ffeb3b !important;
  border-radius: 0.8rem;
  cursor: pointer;
}

.Card {
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.CardHoverable {
  border-radius: 4px;
}

.CardHoverable:hover {
  box-shadow: 0 12px 26px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.12);
}

@media (min-width: 750px) {
  .Container {
    padding: 3rem;
  }

  .Toast {
    font-size: 1.2rem;
    padding: 1.2rem 1.4rem;
  }
}

@media (min-width: 950px) {
  .Container {
    padding: 5rem;
  }

  .Toast {
    font-size: 1.3rem;
    padding: 1.4rem 1.8rem;
  }
}
