.aboutMe {
  padding-bottom: 2.5rem !important;
  padding-top: 1rem !important;
  background-color: #e0f2f1;
}

.tag {
  font-size: 1.5vh;
  display: inline;
  padding: 0.4rem 0.8rem;
}

.text {
  font-weight: 300;
  font-size: 0.9rem;
  min-height: 8rem;
}

.icons {
  max-width: 13rem;
  padding: 1rem 0; 
}

.resumeButton {
  font-weight: 700;
  width: 13rem !important;
  font-size: 1rem;
}

.image {
  max-width: 18vh;
  border-radius: 100%;
  margin: 2rem 0 1rem 1.4rem;
  padding: 0;
  float: right;
}

@media (min-width: 550px) {
  .image { max-width: 20vh; }
  .text { font-size: 1rem; }
}

@media (min-width: 750px) {
  .image { max-width: 25vh; }
  .text {
    font-size: 1.15rem;
    min-height: 8rem;
  }
}

@media (min-width: 950px) {
  .image {  max-width: 30vh; }
  .text {
    font-size: 1.25rem;
    min-height: 10rem;
  }
}
