/*
 * ===================================================
 * ======               GRID                 =========
 * ===================================================
 */

.Grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

.GridLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
}

.GridElement {
  grid-column: auto;
  height: 100%;
  background-position: center;
  background-size: 100%;
}

.Container {
  padding: 1rem;
}

.CardStyle {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.BottomPart {
  border-collapse: collapse;
  display: grid;
  grid-template-rows: auto auto;
}

.TagsPart {
  margin: 16px;
  margin-top: 0rem;
  text-align: left;
  font-size: 0.15rem;
}

.TextStyle {
  padding: 0.2rem;
  text-align: justify;
}



.Image {
  max-width: 18vh;
}

@media (min-width: 550px) {
    .GridLinks {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .Image {
      max-width: 21vh;
    }
}

@media (min-width: 750px) {
  .Grid {
    grid-template-columns: 1fr 1fr;
  }

  .Container {
    padding: 3rem;
  }

  .Image {
    max-width: 25vh;
  }
}

@media (min-width: 800px) {
    .GridLinks {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .Image {
      max-width: 27vh;
    }
}

@media (min-width: 950px) {
  .Grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Container {
    padding: 5rem;
  }

  .Image {
    max-width: 29vh;
  }
}
