.Links {
  padding-bottom: 0 !important;
  padding-top: 2.5rem !important;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
  overflow-wrap: anywhere;
}

.Button {
  grid-column: auto;
  height: 4rem;
  background-position: center;
  background-size: 100%;
  cursor: pointer;
}

@media (min-width: 550px) {
  .Links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .Links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .Button {
    height: 5rem;
  }
}
